*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
 
  border-radius: 20px;
}

body{
  background-color: #f7f2c7;
  /* background-image: url(../public/images/writing.png);
  background-size: 200px;
  background-repeat: no-repeat;
  background-position:95% bottom ;
  height: 90vh; */

  background-image: url(../public/images/flowers.png);
}


.main-page{
  animation: myAnim 2s ease-in-out;
 
  max-width: 80%;
  margin: 30px auto;
 
}

@keyframes myAnim {
	0%,
	100% {
  
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10%,
  

	70% {
		transform: rotate(2deg);
	}

	40%
	 {
		transform: rotate(-2deg);
	}

}


.form-wrapper{
  max-width:600px;
  margin: 0 auto;
  padding:20px 25px 30px;
border: solid 1px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
background-color: #6ECCAF;
}

.form-content{
  margin: 10px 0;
  line-height: 0;
 
}

.form-content p{
  margin: 10px 0;
  line-height: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #344D67;
  margin-bottom: 30px;
  line-height: 1;
  
}

.form-content input{
  width: 96%;
  height: 35px;
  margin: 10px 0 10px;
}

input::placeholder{
  color: rgb(129, 128, 128);
}

input[value]{
  padding-left: 15px;
 background-color: #F3ECB0;
}

 button{
  display: block;
  padding: 10px 20px;
  background-color: #F3ECB0;
  font-size:15px;
}
 button:hover{
  transition: 0.5s;
  cursor: pointer;
  background-color:#344D67;
  color: #F3ECB0;
  border-color: #F3ECB0;;
}



ul{
  max-width: 450px;
  margin: 0 auto;
  margin-top: 70px;
}

li{
  
  margin: 20px 0;
  background-color: #6ECCAF;
  list-style-type: none;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: dashed 2px;
}

li:hover{
  cursor: pointer;
}

.warning{
text-align: center;
color: #4e927c;
font-weight: 600;
font-size: 25px;
margin-top: 50px;
}

ul button{
  width: 28px;
  height: 10px;
  padding: 0;
  padding-bottom: 25px;
  font-size: 20px;
  color: black;
  border-radius: 50px;
  border-width: 1px;
  background-color: #E6E2C3;
}

ul button:hover{
  cursor: pointer;
}


.invalid{
  border-color: rgb(222, 48, 48);
  color: red;
}

